body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', 'sans-serif';
}

/*-----navbar----*/
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav{
  flex: 1;
  text-align: right;

}

nav ul{
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a{
  text-decoration: none;
  color: #555;
}

p{
  color: #555;
}

.menu-icon{
  width: 28px;
  margin-left: 20px;
  display: none;
}

/*---header----*/
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2{
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
font-size: 50px;  
line-height: 60px;
margin: 25px 0;
}

.btn {
  display: inline-block;
  background: #000000;
  color: #ffffff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 20px;
  transition: background 0.5s;
}

.btn:hover {
background: #4d4d4d;
}

header .row {
  margin-top: 70px;
}
/*---featured products---*/
.categories {
  margin: 70px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
  
}

.mini-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative; 
  line-height: 60px;

}


.col-3 p{
font-size: 15px;
}

.col-4{
  flex-basis: 40%;
  min-width: 300px;
}

.col-4 img{
  max-width: 100%;
  padding: 50px 0;
}

.col-4 p{
  font-size: 15px;
  
 }

 .row-1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*----footer---*/

footer {
  background: #ffffff;
  font-size: 14px;
  padding: 60px 0 20px;
}

footer h3 {
margin-bottom: 20px;
}

.footer-col1, footer-col2, footer-col3, footer-col4 {
min-width: 250px;
margin-bottom: 20px;
}

.footer-col1{
  flex-basis: 30%;
}


.footer-col3{
  padding: 50px;
  
}

.footer-col3, .footer-col4 {
  text-align: center;
}

ul {
  list-style-type: none;
}
/*---All Products---*/

.row-2 {
 justify-content: space-between;
 margin: 100px auto 50px;
}

select {
  border: 1px solid #000000;
  padding: 5px; 
}

select:focus{
  outline: none;
}

.page-btn {
  margin: 0 auto 80px;

}

.page-btn span {
  display: inline-block;
  border: 1px solid #000000;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.page-btn span:hover {
  background: #000000;
  color: #ffffff;
}

/*--Single product details--*/

.single-product{
  margin-top: 80px;

}

.single-product h3{
  margin: 20px;
  font-size: 22px;
  font-weight: bold;
}

.single-product input{
  display: block;
  padding: 5px;
  margin-top: 10px;
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 15px;
  margin-right: 10px;
  border: 1px solid #000000;
}
.single-product select{
  border: 1px solid #000000; 
  display: block;
  width: 120px;
  height: 40px;
  padding-left: 10px;
  font-size: 15px;
  margin-right: 10px;
}

input:focus{
  outline: none;
}
.product-det {
  width: 650px;
}

.single-product .col-2 img {
  padding: 0;
}

.single-product .col-2 {
  padding: 20px;
}
/*--media query---*/

@media only screen and (max-width:768px) {
  nav ul{
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
  }

  nav ul li {
      display: block;
      margin-right: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .menu-icon{
      display: block;
      cursor: pointer;
  }
}